html, body {
  height: 100%;
  width: 100%;
}
    h2 {
      color: red;
      border: 1px solid black
    }
/*
en visual studio code control+K
control+u para realizar comentarios 
*/
    h1 {
      color: blue;
      font-size: 60px;
    }