/*
selectores y combinadores 


.abuelo .titulo{
  color:red;
  font-size:40px;
}

.padre .titulo{
  color:blue;
}
*/
/*
selectores y combinadores directos
*/

.abuelo>.titulo{
  color:red;
  font-size:40px;
}
